form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100px;
    background-color: #8FCA5C;
    border: #61371F 3px solid;
    justify-content: center;
    text-align: center;
}

input{
    width: 75%;
    text-align: center;
}

.bedrockSearch{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.bedrockSearch > input{
    flex: 1;
}

.bedrockSearch > strong{
    flex: 2;
}